@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

body {
  box-sizing: border-box;
  margin-left: 10rem;
  margin-right: 10rem;
  header {
    margin-bottom: 2.5rem;
  }
  h2 {
    margin: 2.5rem 1rem;
  }

  //Color Section

  .colors {
    border: 1px solid;
    height: 25rem;
    margin-top: 1rem;
    padding-bottom: 1rem;

    .color_boxes {
      display: flex;
      flex-wrap: wrap;
    }
    .color_box_blue {
      background-color: #2d5dcc;
      color: #fff;
      width: 20rem;
      height: 8rem;
      text-align: center;
      margin-left: 1rem;
    }
    .color_box_pink {
      background-color: #d957d9;
      color: #000;
      width: 20rem;
      height: 8rem;
      text-align: center;
      margin-left: 1rem;
    }
    .color_box_green {
      background-color: #4fe0b0;
      color: #000;
      width: 20rem;
      height: 8rem;
      text-align: center;
      margin-left: 1rem;
    }
    .color_box_beige {
      background-color: #efd9ca;
      color: #000;
      width: 20rem;
      height: 8rem;
      text-align: center;
      margin-top: 2rem;
      margin-left: 1rem;
    }
  }

  //Fonts Section

  .fonts {
    border: 1px solid;
    height: 28rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    .fonts_boxes {
      display: flex;
      flex-wrap: wrap;
    }
    .font_box_sourcecode {
      color: #000;
      width: 30rem;
      height: 8rem;
      margin-top: 0;
      margin-left: 1rem;
    }
    .font_box_sourcecode h3 {
      text-decoration: underline;
      font-family: 'Source Code Pro', monospace;
    }

    .font_sourcecode_regular {
      font-family: 'Source Code Pro', monospace;
    }
    .font_sourcecode_bold {
      font-family: 'Source Code Pro', monospace;
      font-weight: bold;
    }
    .font_sourcecode_italic {
      font-family: 'Source Code Pro', monospace;
      font-style: italic;
    }
    .font_box_nunito h3 {
      text-decoration: underline;
      font-family: 'Nunito Sans', sans-serif;
    }
    .font_nunito_regular {
      font-family: 'Nunito Sans', sans-serif;
    }
    .font_nunito_bold {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: bold;
    }
    .font_nunito_italic {
      font-family: 'Nunito Sans', sans-serif;
      font-style: italic;
    }
    .font_box_poppins h3 {
      text-decoration: underline;
      font-family: 'Poppins', sans-serif;
      margin-left: 1rem;
    }
    .font_poppins_regular {
      font-family: 'Poppins', sans-serif;
      margin-left: 1rem;
    }
    .font_poppins_bold {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      margin-left: 1rem;
    }
    .font_poppins_italic {
      font-family: 'Poppins', sans-serif;
      font-style: italic;
      margin-left: 1rem;
    }
  }
  .text_styles p {
    margin-left: 1rem;
  }
  .text_styles {
    border: 1px solid;
    height: 35rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    .text_styles h2,
    h1 {
      margin-left: 1rem;
    }
    ul {
      line-height: 1.5rem;
    }
  }
}
